<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IconExtractor.dll" version="1.0.2" targetFramework="net48" />
  <package id="IconUtilities" version="1.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net48" />
</packages>